body {
    text-align: left;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font: 26px;
color: var(--text-color-light);
color: var(--text-color-dark);
}

:root {
    --background-color-light: #D3D3D3;
--background-color-dark: #00008B;
--text-color-light: #000000;
--text-color-dark: #ffffff;
}
body.light-mode {
background-color: var(--background-color-light);
color:var(--text-color-light)
}
body.dark-mode {
background-color: var(--background-color-dark);
color:var(--text-color-dark)
}
button {
margin: 20px;    
padding: 10px 20px;
cursor: pointer;
}

#model {
/* Remove o ícone de triângulo de um elemento select */
select {
    -webkit-appearance: none; /* Para navegadores WebKit */
    -moz-appearance: none; /* Para navegadores Firefox */
    appearance: none; /* Padrão */
    background: none; /* Remove o fundo padrão */
    border: 1px solid #ccc; /* Adiciona uma borda personalizada */
    padding: 10px; /* Adiciona padding */
    font-size: 16px; /* Ajusta o tamanho da fonte */
}

/* Adiciona um ícone personalizado, se necessário */
select::after {
    content: ''; /* Conteúdo vazio para remover o ícone */
}

}


#texto {
    font-size: 16px;
}
#aumentarFonte {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}


#texto {
    font-size: 16px;
}
.botao {
    padding: 10px 20px;
    background-color: #4caf50;
    color: red;
    border: none;
    cursor: pointer;
    margin: 5px;
}
button {
border-radius: 5px;
padding: 5px 10px;
color: red;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1, h2, h3, h4, p {
text-align: left;
font:20px;
text-decoration: none;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
    text-decoration: none;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
display:flex;
align-items: center;        
justify-content: space-between;
gap:5rem;
color: black;    
border-left: 4px;
transition: 4s;        
animation:both;
box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);    
}
a:hover {
padding-left: 30px;
border-left: 4px;
color:white;
box-shadow: none;    
}
a:link {
color:white;
}
a:visited {
color:green;
}   