/* Resetando margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
  }
  
  h1 {
    font-size: 2rem;
  }
  
  #start-screen {
    display: block;
    padding: 20px;
  }
  
  .hidden {
    display: none;
  }
  
  #start-screen label, #start-screen select {
    margin-bottom: 10px;
    display: block;
  }
  
  button {
    padding: 10px;
    margin: 10px;
    font-size: 1rem;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Jogo */
  #game-screen {
    display: block;
    padding: 20px;
  }
  
  #game-container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 2px;
    margin: 20px auto;
    max-width: 360px;
  }
  
  .grid div {
    width: 100%;
    height: 50px;
    border: 1px solid #333;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Outros controles */
  #voice-info {
    margin-top: 20px;
  }
  
  footer {
    margin-top: 20px;
    background-color: #333;
    color: white;
    padding: 1rem 0;
  }
  